# --- Java Compiled Files ---
*.class
*.jar
*.war
*.ear

# --- NetBeans Specific ---
nbproject/private/
build/
dist/
nbdist/
.nb-gradle/

# --- IDE/Editor Cache ---
.idea/
.vscode/
*.swp
*.bak

# --- System Files ---
Thumbs.db
.DS_Store

# --- Crash Logs ---
hs_err_pid*
